@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'GTSuperDisplayRegular';
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url('/font/GTSuperDisplay/GTSuperDisplayRegular.woff2) format('woff2'), url('/font/GTSuperDisplay/GTSuperDisplayRegular.woff') format('woff');
}

/*
@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 100 900;
  text-rendering: optimizeLegibility;
  src: url(/font/ibm/ibm-plex-sans-var.woff2) format('woff2');
} */
/*
@font-face {
  font-family: 'IBM Plex Sans';
  font-style: italic;
  font-weight: 100 900;
  text-rendering: optimizeLegibility;
  src: url(/font/ibm/ibm-plex-sans-var-italic.woff2) format('woff2');
}
*/
@font-face {
  font-family: 'Cansu';
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
  src: url(/font/cansu/Cansu-Regular.woff) format('woff');
}

@font-face {
  font-family: 'Cansu';
  font-style: normal;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  src: url(/font/cansu/Cansu-Bold.woff) format('woff');
}

@layer utilities {
  .special-underline {
    @apply bg-gradient-to-r from-green-200 to-green-200 dark:bg-gradient-to-r dark:from-zinc-800 dark:to-zinc-800
      bg-no-repeat [background-position:0_88%]
      [background-size:100%_0.2em]
      motion-safe:transition-all motion-safe:duration-200
      hover:[background-size:100%_100%]
      focus:[background-size:100%_100%];
  }
}

.prose a {
  @apply special-underline;
}
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}
html,
.lightbox-overlay {
  /* margin-left: calc(100vw - 100%); */
  width: 100vw;
}

html.prevent-scroll {
  overflow-y: hidden;
}
html.lightbox-loading,
html.lightbox-loading * {
  cursor: wait !important;
}

.prose > ul > li:last-child {
  margin-bottom: 1.25em;
}
.prose > ul > li:first-child {
  margin-top: 1.25em;
}

.prose > ul > li > *:last-child,
.prose-lg > ul > li > *:last-child {
  margin-bottom: 0;
}

.prose > ul > li > *:first-child,
.prose-lg > ul > li > *:first-child {
  margin-top: 0;
}

.prose :where(thead th):not(:where([class~='not-prose'] *)) {
  color: unset;
}

.prose ol li:before {
  background-color: transparent !important;
}
.prose .anchor {
  @apply absolute invisible no-underline;

  margin-left: -1em;
  padding-right: 0.5em;
  width: 80%;
  max-width: 700px;
  cursor: pointer;
}

.anchor:hover {
  @apply visible;
}

.prose a {
  @apply transition-all;
}

.prose .anchor:after {
  @apply text-gray-300 dark:text-gray-700;
  content: '#';
}

.prose *:hover > .anchor {
  @apply visible;
}
