@tailwind base;
@tailwind components;
@tailwind utilities;

code,
kbd,
pre,
samp {
  font-family: 'JetBrains Mono', monospace;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}
html,
.lightbox-overlay {
  /* margin-left: calc(100vw - 100%); */
  width: 100vw;
}

html.prevent-scroll {
  overflow-y: hidden;
}
html.lightbox-loading,
html.lightbox-loading * {
  cursor: wait !important;
}

.prose > ul > li:last-child {
  margin-bottom: 1.25em;
}
.prose > ul > li:first-child {
  margin-top: 1.25em;
}

.prose > ul > li > *:last-child,
.prose-lg > ul > li > *:last-child {
  margin-bottom: 0;
}

.prose > ul > li > *:first-child,
.prose-lg > ul > li > *:first-child {
  margin-top: 0;
}

.prose :where(thead th):not(:where([class~='not-prose'] *)) {
  color: unset;
}

.prose ol li:before {
  background-color: transparent !important;
}

.prose .code-line {
  font-size: 16px;
}

.prose-lg hr {
  margin-top: 2em;
  margin-bottom: 2em;
}

* {
  transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}
